*{padding:0;margin:0;list-style:none;border:0;}
/* 焦点图 */
#show {
	position: relative;
	height: 660px;
	width: 960px;
	margin: 0 auto;
}
#show a {
	float: left;
	display: inline;
}
#show .img {
	position: absolute;
	width: 700px;
	height: 1200px;
	overflow: hidden
}
#show .img SPAN {
	position: absolute;
	width: 19999px;
	display: block
}
#show .btns {
	z-index: 10;
	position: absolute;
	width: 960px
}
#show .btns B {
	position: absolute;
	width: 100px;
	display: block;
	height: 14px;
	overflow: hidden;
	top: 580px;
	left: 50%
}
#show .btns B I {
	width: 10px;
	background: #414140;
	float: left;
	height: 10px;
	font-size: 0px;
	overflow: hidden;
	cursor: pointer;
	margin-right: 6px;
	border: #414140 2px solid;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px
}
#show .btns B I:hover {
	background: #a7a7a6
}
#show .btns B I.on {
	background: #3cd2f1;
	cursor: default
}
#show .btns B I.on:hover {
	background: #3cd2f1;
	cursor: default
}
#show .btns S {
	position: absolute;
	WIDTH: 60px;
	display: none;
	height: 80px;
	overflow: hidden;
	top: 285px;
	cursor: pointer
}
#show .btns S I {
	position: absolute;
	width: 60px;
	background: url(../images/btn_show.png);
	height: 160px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/btn_show.png");
	_background: none;
}
#show .btns S.prev {
	left: 0px
}
#show .btns S.prev I {
	top: -80px
}
#show .btns S.next {
	right: 0px
}
.show-hover#show .btns S {
	display: block
}
.masks {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	height: 660px;
	position: absolute;
	background: #000;
	overflow: hidden
}
